.pagination a{
    color: aqua;
    float: left;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 30%;
    transition: 2s;
}
.pagination a.active{
    background-color: rgba(1, 1, 116, 0.59);
    color: #fff;
}
.pagination a:hover:not(.active){
    background-color: dimgray;
}